<footer>
	<div class="wrapper">
		<div class="footerLogo">
			<a class="footerLogo__image" href="http://zynapp.com/">{% include /vectors/logo_footer.svg %}</a>
			<a class="footerLogo__text" href="http://zynapp.com/">www.zynapp.com</a>
		</div>
		<div class="adress">
			<p>Zynapp AB<br />
			Drottninggatan 32<br />
			652 25 Karlstad<br />
			Sweden</p>
		</div>
		<div class="inquiries">
			<p class="label">For general company inquiries</p>
			<a href="mailto:info@zynapp.com">info@zynapp.com</a>
		</div>
		<div>
			<p class="label">For jobs</p>
			<a href="mailto:jobs@zynapp.com">jobs@zynapp.com</a>
		</div>
		<div>
			<p class="label">For support</p>
			<a href="mailto:info@zynapp.com">support@zynapp.com</a>
		</div>
	</div>
</footer>