<footer>
	<div class="wrapper">
		<div class="adress">
			<h2>Adress</h2>
			<p>
			Zynapp AB<br />
			Drottninggatan 32<br />
			652 25 Karlstad<br />
			Sweden</p>
		</div>
		<div class="inquiries">
			<h2>Get in touch</h2>
			<a href="mailto:info@zynapp.com">info@zynapp.com</a>
			<a href="mailto:jobs@zynapp.com">jobs@zynapp.com</a>
		</div>
		<div class="support">
			<h2>Support</h2>
			<a href="https://faq.zynapp.com/">Frequently asked questions</a>
			<a href="mailto:info@zynapp.com">support@zynapp.com</a>
		</div>
		<div class="legal">
			<h2>Legal</h2>
			<a href="/tac">Terms and conditions</a>
			<a href="/privacy">Privacy</a>
			<a href="/third_party_license_rights">Third party licenses</a>
		</div>
	</div>
</footer>