html {
  box-sizing: border-box;
  font-family: CircularStd;
  font-size: 22px;
  background: url(/assets/images/bg.png)
}

footer {
	background: #36314B;
	color: white;
    font-size: 18px;
    height: 420px;
    padding-top: 150px;
    .wrapper{
		max-width: 960px;
		margin: 0 auto;
		a {
			color: white;
			text-decoration: none;
		}
		.label {
			font-size: 14px;
		}
    	div {
	    	float: left;
	    	width: 180px;
	    }
    	.footerLogo {
    		float: left;
    		width: 160px;
    	}
    	.adress {
    		width: 175px;
    	}
    }
}
main, nav{
	max-width: 890px;
	margin: 0 auto;
	padding: 0 30px;
}

nav {
	width: 363px;
	margin: 14px auto 63px;
	.text {
		margin: 0 18px;
		position: relative;
		bottom: 30px;
		text-decoration: none;
		color: black;
		font-size: 18px;
	}
}

h1 {
	font-size: 30px;
	margin: 0 0 13px;
}

h2{
	font-size: 24px;
	margin: 30px 0 5px;
}

p {
	margin: 0 0 20px;
	line-height: 30px;
}

footer{
	margin-top: 30px
}

.careersHeader {
	font-size: 24px;
}

.listHeader {
    font-size: 30px;
    color: #52b9b4;
    margin: 66px 0 0;
    border-bottom: 3px solid black;
    padding-bottom: 25px;
    font-weight: normal;
}
.jobs{
	padding-left: 0;
	margin-top: 0;
	li{
		list-style: none;
		a {
			display: block;
			text-decoration: none;
			color: #d53668;
			font-weight: bold;
			font-size: 26px;
			padding: 13px 0;
		    border-bottom: 3px solid black;
		}
	}
}

@font-face {
	font-family:CircularStd;
	src: url(/assets/fonts/CircularStd-Book.otf);
}
@font-face {
	font-family:CircularStd;
	src: url(/assets/fonts/CircularStd-Black.otf);
	font-weight: bold;
}


/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, ::before, ::after {
  box-sizing: inherit;
}
