html {
	box-sizing: border-box;
	font-family: CircularStd;
	font-size: 22px;
	background: url(/assets/images/bg.png);
}

.body__profile {
	background: #E5E5E5
}
.profile__section{
	border-top: 1px solid black;
}
.profile__section__header{
	margin-top: 12px;
	font-size: 15px;
	font-weight: normal;
}
.container__profile__subsection{
	display: flex;
}

.profile__subsection{
	border-top: 1px solid black;
	flex: 1;
}

.profile__subsection__header{
	margin: 12px 0;
	font-size: 9px;
	font-weight: normal;
}

.profile__subsection__color{
	color: white;
	height: 200px;
	padding: 12px;
}

footer {
  background: #36314B;
  color: white;
  font-size: 18px;
  height: 360px;
  padding: 130px 0 60px;
  margin-top: 60px;
}
footer .wrapper {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}
footer .wrapper a {
  color: white;
  text-decoration: none;
}
footer .wrapper .label {
  font-size: 14px;
  margin-bottom: 0;
}
footer .wrapper div {
  float: left;
  width: 180px;
  padding-top: 20px;
}
footer .wrapper .footerLogo {
  width: 210px;
}
footer .wrapper .footerLogo a {
  float: left;
  width: 160px;
}
footer .wrapper .inquiries {
  width: 214px;
}
footer .wrapper .adress {
  width: 175px;
}

main, nav{
	max-width: 890px;
	margin: 0 auto;
	padding: 0 30px;
}

nav {
	width: 363px;
	margin: 14px auto 63px;
	.text {
		margin: 0 18px;
		position: relative;
		bottom: 30px;
		text-decoration: none;
		color: black;
		font-size: 18px;
	}
}

h1{
	font-size: 30px;
	margin: 0 0 13px;
}

h2{
	font-size: 24px;
	margin: 30px 0 5px;
}

p{
	margin: 0 0 20px;
	line-height: 30px;
}

.careersHeader {
	font-size: 24px;
}

.listHeader {
	font-size: 30px;
	color: #52b9b4;
	margin: 66px 0 0;
	border-bottom: 3px solid black;
	padding-bottom: 25px;
	font-weight: normal;
}
.jobs{
	padding-left: 0;
	margin-top: 0;
	li{
		background: url(/assets/images/arrow.svg) no-repeat;
		background-size: 17px;
		background-position: 0 19px;
		list-style: none;
	}
}
.jobs li a{
	display: block;
	text-decoration: none;
	color: #d53668;
	font-weight: bold;
	font-size: 26px;
	padding: 13px 0 13px 28px;
	border-bottom: 3px solid black;
}


@font-face {
	font-family:CircularStd;
	src: url(/assets/fonts/CircularStd-Book.otf);
}
@font-face {
	font-family:CircularStd;
	src: url(/assets/fonts/CircularStd-Black.otf);
	font-weight: bold;
}

@media (max-width: 960px) {
	footer{
		height: auto;
		.wrapper .footerLogo a{
			float: none;
		 }
		.wrapper div{
			float: none;
		}
	}
}


/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, ::before, ::after {
	box-sizing: inherit;
}
