html {
  box-sizing: border-box;
  font-family: CircularStd;
  font-size: 22px;
  background: url(/assets/images/bg.png)
}

footer {
	background: #36314B;
	color: white;
	font-size: 18px;
	height: 360px;
	padding: 130px 0 60px;
	margin-top: 60px;
	.wrapper{
		max-width: 1000px;
		padding: 0 20px;
		margin: 0 auto;
		a {
			color: white;
			text-decoration: none;
		}
		.label {
			font-size: 14px;
			margin-bottom: 0;
		}
		div {
			float: left;
			width: 180px;
			padding-top: 20px;
		}
		.footerLogo{
			width: 210px;
			a {
				float: left;
				width: 160px;
			}
		}
		.inquiries{
			width: 214px;
		}
		.adress {
			width: 175px;
		}
	}
}
main, nav{
	max-width: 890px;
	margin: 0 auto;
	padding: 0 30px;
}

nav {
	width: 363px;
	margin: 14px auto 63px;
	.text {
		margin: 0 18px;
		position: relative;
		bottom: 30px;
		text-decoration: none;
		color: black;
		font-size: 18px;
	}
}

h1 {
	font-size: 30px;
	margin: 0 0 13px;
}

h2{
	font-size: 24px;
	margin: 30px 0 5px;
}

p {
	margin: 0 0 20px;
	line-height: 30px;
}

.careersHeader {
	font-size: 24px;
}

.listHeader {
	font-size: 30px;
	color: #52b9b4;
	margin: 66px 0 0;
	border-bottom: 3px solid black;
	padding-bottom: 25px;
	font-weight: normal;
}
.jobs{
	padding-left: 0;
	margin-top: 0;
	li{
		background-image: url(data:image/svg+xml;utf8,<svg width='549px' height='627px' viewBox='0 0 549 627' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g id='Page-1'><path d='M88.4990132,7.81470577 C105.525013,17.2327058 122.143013,27.3907058 138.916013,37.2667058 C171.451013,56.4237058 204.000013,75.5587058 236.511013,94.7577058 C262.582013,110.154706 288.587013,125.663706 314.653013,141.068706 C350.888013,162.483706 387.151013,183.852706 423.405013,205.235706 C453.493013,222.981706 483.560013,240.765706 513.691013,258.435706 C525.247013,265.211706 535.009013,273.580706 541.472013,285.642706 C553.927013,308.886706 548.265013,341.220706 527.773013,357.468706 C519.229013,364.243706 509.576013,369.680706 500.171013,375.295706 C467.182013,394.994706 434.083013,414.510706 401.020013,434.086706 C367.806013,453.752706 334.590013,473.418706 301.363013,493.065706 C273.016013,509.828706 244.651013,526.562706 216.296013,543.312706 C191.948013,557.694706 167.884013,572.589706 143.175013,586.322706 C118.436013,600.072706 96.0490132,618.344706 68.1200132,626.079706 L51.1200132,626.079706 C49.5940132,625.538706 48.1010132,624.863706 46.5360132,624.477706 C34.5920132,621.533706 24.2670132,615.785706 15.9430132,606.681706 C4.58701319,594.260706 -0.00898680983,579.467706 1.31901722e-05,562.764706 C0.0870131902,396.850706 0.0500131902,230.936706 0.0630131902,65.0217058 C0.0630131902,61.5267058 -0.0139868098,58.0017058 0.37901319,54.5397058 C2.46301319,36.2037058 12.9970132,24.1837058 26.1530132,11.0287058 C42.5280132,-5.34629423 69.8700132,-0.92029423 88.4990132,7.81470577' id='Fill-1' fill='#000000'></path></g></svg>);
		list-style: none;
		a {
			display: block;
			text-decoration: none;
			color: #d53668;
			font-weight: bold;
			font-size: 26px;
			padding: 13px 0;
			border-bottom: 3px solid black;
		}
	}
}

@font-face {
	font-family:CircularStd;
	src: url(/assets/fonts/CircularStd-Book.otf);
}
@font-face {
	font-family:CircularStd;
	src: url(/assets/fonts/CircularStd-Black.otf);
	font-weight: bold;
}

@media (max-width: 960px) {
  footer {

  	height: auto;
  	.wrapper .footerLogo a{
  	 	float: none
  	 }
  	.wrapper div{
  		float: none;
  	}
  }
}


/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, ::before, ::after {
  box-sizing: inherit;
}
