html {
	box-sizing: border-box;
	font-family: CircularStd;
	font-size: 16px;
	background-image: url(/assets/images/bg.svg);
	background-position: 0 10px;
}
.body__about{
	background-color: #36314C;
	color: white;
	path, polygon {
		fill: white
	}
	footer{
		background: #212121;
	}
}



.body__early-access{
	color: white;
	.dropdown{
		overflow: hidden;
		div{
			height: 0;
		}
		.old {
			display: none;
		}
	}
	nav {
		padding-top: 42px;
		margin-bottom: 0;
		.logo svg {
		    width: 103px;
		    height: 76px;
		}
	}
	.body__content{
		background: linear-gradient(to bottom left, #7BB83D 0%, #7BB83D 50%, #53BAB5 50%, #53BAB5 100%);
	}
	path, polygon {
		fill: white
	}
}
.main__form{
	background: url(/assets/images/iphone.png) center center no-repeat;
	background-size: contain;
	height: 664px;
	position: relative;
    top: -62px;
	&:after{
		content: "";
		display: table;
		clear: both;
	}
}


.main__form__info{
	float: left;
	width: 339px;
	position: relative;
	top: 98px;
	h1 {
		font-size: 24px;
	    margin-bottom: 48px;
	}
	p{
		font-size: 20px;
    	line-height: 1.25em;
	}
}

.main__form__input{
    width: 316px;
    float: right;
    position: relative;
    top: 55px;
    margin-right: 15px;
	h1 {
		font-size: 21px;
		margin-bottom: 17px;
	}
	p{
		font-size: 20px;
	}
	label{
		display: block;
   		margin-bottom: 7px;
	}
	input{
		font-size: 21px;
		width: 100%;
		border: none;
		border-radius: 5px;
		padding: 10px 11px;
    	margin-bottom: 20px
	}
	.dropdown{
	    position: absolute;
  		width: 100%;
  		div {
  			overflow: hidden;
  		}
  		ul {
  			margin-top: 0;
  			background: #D53668;
  		}
	}
	.selected {
	    background: #D53668 url(/assets/images/caret.svg) center right 16px no-repeat;;
	    display: block;
	    padding: 12px;
	    border-radius: 5px;
	}
	.hack{
	    margin-top: 58px;
	}
	textarea {
		width: 100%;
		height: 126px;
		border: 0;
		border-radius: 5px;
		margin-top: 6px;
	    margin-bottom: 9px;
	}
	button {
	    background: #D53668;
	    border: 0;
	    border-radius: 5px;
	    color: white;
	    float: right;
	    padding: 9px 29px;
	}
}
.body__content{
	padding-bottom: 60px;
}
.body__profile {
	background: #E5E5E5;
	counter-reset: section;
}
.body__profile main {
    max-width: initial;
}
.profile__section{
	border-top: 1px solid black;
	counter-reset: subsection;

}
.profile__section__header::before{
	counter-increment: section;
	content: counter(section, decimal-leading-zero) ". ";
}
.profile__section__header{
	margin-top: 12px;
	font-size: 15px;
	font-weight: normal;
}
.container__profile__subsection{
	display: flex;
    margin-right: -12px;
}

.profile__subsection{
	border-top: 1px solid black;
	flex: 1;
	margin: 0 12px 20px 0;
    background: white;
}


.profile__subsection.shape{
    background: transparent;
}
.profile__subsection__header::before{
	counter-increment: subsection;
	content: counter(section, decimal-leading-zero) "." counter(subsection, decimal-leading-zero) " ";
}
.profile__subsection__header{
	padding: 6px 0;
	margin: 0;
	font-size: 9px;
	font-weight: normal;
	background: white;
	border-bottom: 1px solid black;
}

.profile__subsection__color{
	color: white;
	text-transform: uppercase;
	height: 200px;
	padding: 12px;
	margin: 0;
}

.profile__subsection__color__description{
	padding-bottom: 1em;
	display: block;
}

.profile__subsection__color__description__title{
	display: block;
	font-size: 22px;
	font-weight: bold;
}

.profile__subsection__vector{
	width: 100%;
	display: block;
}

.profile__subsection__symbol{
	width: 80%;
    margin: 10% 10% 0 10%;
}
footer {
  background: #36314B;
  color: white;
  font-size: 18px;
  height: 360px;
  padding: 130px 0 60px;
}
footer .wrapper {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}
footer .wrapper a {
  color: white;
  text-decoration: none;
}
footer .wrapper .label {
  font-size: 14px;
  margin-bottom: 0;
}
footer .wrapper div {
  float: left;
  width: 180px;
  padding-top: 20px;
}
.footerLogo {
  width: 210px;
}
.footerLogo__image {
  float: left;
  width: 160px;
}
.footerLogo__text {
  font-size: 14px;
  margin-left: 45px;
}
footer .wrapper .inquiries {
  width: 214px;
}
footer .wrapper .adress {
  width: 175px;
}

main, nav{
    max-width: 1156px;
	margin: 0 auto;
	padding: 0 30px;
}

nav {
	width: 356px;
	margin: 0 auto 63px;
	padding-top: 14px;
	text-align: center;
	.text {
		margin: 0 18px;
		position: relative;
		bottom: 30px;
		text-decoration: none;
		color: inherit;
		font-size: 18px;
	}
}

h1{
	font-size: 30px;
	margin: 100px 0 13px;
}

h2{
	font-size: 24px;
	margin: 30px 0 5px;
}

p{
	margin: 0 0 20px;
}

.listHeader {
	font-size: 30px;
	color: #52b9b4;
	margin: 66px 0 0;
	border-bottom: 3px solid black;
	padding-bottom: 25px;
	font-weight: normal;
}
.jobs{
	padding-left: 0;
	margin-top: 0;
	li{
		background: url(/assets/images/arrow.svg) no-repeat;
		background-size: 17px;
		background-position: 0 19px;
		list-style: none;
	}
}
.jobs li a{
	display: block;
	text-decoration: none;
	color: #d53668;
	font-weight: bold;
	font-size: 26px;
	padding: 13px 0 13px 28px;
	border-bottom: 3px solid black;
}


@font-face {
	font-family:CircularStd;
	src: url(/assets/fonts/CircularStd-Book.otf);
}
@font-face {
	font-family:CircularStd;
	src: url(/assets/fonts/CircularStd-Black.otf);
	font-weight: bold;
}

@media (max-width: 960px) {
	footer{
		height: auto;
		.wrapper .footerLogo a{
			float: none;
		 }
		.wrapper div{
			float: none;
		}
	}
}


/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, ::before, ::after {
	box-sizing: inherit;
}
